*Materials
**/build
**/*.o
**/*.so
**/__pycache__
**/.DS_Store
**/*.pyc

.vscode
External_hij/.idea
External_hij/cmake_build_debug
External_hij/CMakeFiles
External_hij/CMakeCache.txt
External_hij/data/*